@charset "utf-8";

html,body{
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  background-color: #dcddf8;

  font-size: 8px;
  font-family: "Noto Sans JP", sans-serif;
}

/* ================================================== */

div#home{
  position: absolute;
  top: 0;
  display: block;

  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  animation: .3s forwards anime-CtoL;
}

div#home.active{
  animation: .3s forwards anime-LtoC;
}

@keyframes anime-RtoC {
  from{
    display: block;
  }
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes anime-CtoR {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
  to{
    display: none;
  }
}

h1{
  position: relative;
  z-index: 2;

  display: block;

  width: 80%;
  height: 8rem;

  margin: 0 auto 0 auto;
  padding: 0 10%;

  background-color: #4e54c8;

  color: #ffffff;
  font-size: 3rem;
  font-weight: 800;
  font-family: "Noto Sans JP", sans-serif;
  
  line-height: 8rem;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0;
}

p#description{
  display: none;
  
  width: 80%;
  height: 3rem;

  margin: 5rem auto 0 auto;
  padding: 0;

  color: #222222;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Noto Sans JP", sans-serif;
  
  line-height: 3rem;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0;
}

p#description.active{
  display: block;
}

/* ================================================== */

main#container{
  position: relative;
  z-index: 2;

  display: none;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  
  width: 80%;
  height: auto;

  margin: 2rem auto 0 auto;
  padding: 0 0 5rem 0;
}

main#container.active{
  display: grid;
}

main#container>button{
  display: block;
  
  width: 100%;
  height: calc(5rem + 2rem * 2);

  margin: 0;
  padding: 2rem;

  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 1.5rem;
  
  background-color: rgba(255, 255, 255, 0.55);
  
  backdrop-filter: blur(1rem) saturate(180%);
  -webkit-backdrop-filter: blur(1rem) saturate(180%);

  color: #444444;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Noto Sans JP", sans-serif;
  
  line-height: 5rem;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0;
}

/* ================================================== */

#particles{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: block;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

#particles>li{
  position: absolute;
  top: -100px;

  display: block;

  background: #4e54c888;
  
  animation: animate linear infinite;
  
  list-style: none;
}

/* ================================================== */

div#deck{
  position: absolute;
  top: 0;
  display: block;

  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  animation: .3s forwards anime-CtoR;
}

div#deck.active{
  animation: .3s forwards anime-RtoC;
}

@keyframes anime-CtoL {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
  to{
    display: none;
  }
}

@keyframes anime-LtoC {
  from{
    display: block;
  }
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

div.cardSet{
  display: none;

  width: 80%;
  height: auto;

  margin: 5rem auto 0 auto;
  padding: 0;
}

div.cardSet.active{
  display: block;
}

div.card{
  position: relative;

  display: block;
  
  width: 100%;

  margin: 4rem auto 0 auto;
  padding: 0;
}

div.card>p.cardTop, div.card>p.cardBack{
  position: absolute;
  top: 0;
  left: 0;

  width: calc(100% - 2rem * 2);

  margin: 0;
  padding: 2rem 2rem;

  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 1.5rem;
  
  background-color: rgba(255, 255, 255, 0.55);
  
  backdrop-filter: blur(1rem) saturate(180%);
  -webkit-backdrop-filter: blur(1rem) saturate(180%);

  backface-visibility: hidden;

  transition: all .3s;
  transform-origin: center center;
}

div.card>p.cardTop{
  display: block;
  
  color: #222222;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Noto Sans JP", sans-serif;
  
  /* line-height: 10rem; */
  text-decoration: none;
  text-align: left;
  letter-spacing: 0;

  overflow: hidden;
}

div.card>p.cardBack{
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;

  
  color: #444444;
  font-size: 1.75rem;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
  
  line-height: 2.5rem;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0;

  overflow: hidden;
}

div.card>p.cardTop{
  transform: rotateY(0);
}

div.card>p.cardBack{
  transform: rotateY(180deg);
}

div.card.active>p.cardTop{
  transform: rotateY(180deg);
}

div.card.active>p.cardBack{
  transform: rotateY(0);
}

div.card:nth-last-of-type(1){
  margin-bottom: calc(8rem + 4rem);
}

nav{
  position: fixed;
  top: calc(100dvh - 8rem);
  left: 0;
  z-index: 5;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;

  width: 100%;
  height: 8rem;

  margin: 0;
  padding: 0;

  animation: .3s forwards anime-CtoR;
}

nav.active{
  animation: .3s forwards anime-RtoC;
}

nav>button{
  display: block;

  width: 100%;
  height: 8rem;

  margin: 0;
  padding: 0;

  border: none;
  border-radius: 0;

  background-color: #4e54c8;

  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 800;
  font-family: "Noto Sans JP", sans-serif;
  
  line-height: 8rem;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0;
}

nav>button>i{
  display: block;
  margin: 0 1rem 0 0;

  color: #ffffff;
  font-size: 2rem;
  
  line-height: 8rem;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0;
}