@charset "utf-8";

html,body{
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  background-color: #fffff0;

  font-size: 8px;
  font-family: "Noto Sans JP", sans-serif;
}

div#home{
  position: absolute;
  top: 0;
  display: block;

  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  animation: .3s forwards anime-CtoL;
}

div#home.active{
  animation: .3s forwards anime-LtoC;
}

@keyframes anime-RtoC {
  from{
    display: block;
  }
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes anime-CtoR {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
  to{
    display: none;
  }
}

h1{
  display: block;

  width: 80%;
  height: 5rem;

  margin: 3rem auto 0 auto;
  padding: 0;

  color: #222222;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Noto Sans JP", sans-serif;
  
  line-height: 5rem;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.125rem;
}

p#description{
  display: none;
  
  width: 80%;
  height: 3rem;

  margin: 5rem auto 0 auto;
  padding: 0;

  color: #222222;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Noto Sans JP", sans-serif;
  
  line-height: 3rem;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0;
}

p#description.active{
  display: block;
}

main#container{
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  
  width: 80%;
  height: auto;

  margin: 3rem auto 0 auto;
  padding: 0;
}

main#container.active{
  display: grid;
}

main#container>button{
  display: block;
  
  width: 100%;
  height: calc(5rem + 2rem * 2);

  margin: 0;
  padding: 2rem;

  background-color: #eeeed8;
  border: none;
  border-radius: 2rem;
  box-shadow:  1rem 1rem 3rem #ddddc8,
               -1rem -1rem 3rem #ffffe8;

  color: #222222;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Noto Sans JP", sans-serif;
  
  line-height: 5rem;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0;
}

div#deck{
  position: absolute;
  top: 0;
  display: block;

  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  animation: .3s forwards anime-CtoR;
}

div#deck.active{
  animation: .3s forwards anime-RtoC;
}

@keyframes anime-CtoL {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
  to{
    display: none;
  }
}

@keyframes anime-LtoC {
  from{
    display: block;
  }
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

div.cardSet{
  display: none;

  width: 80%;
  height: auto;

  margin: 5rem auto 0 auto;
  padding: 0;
}

div.cardSet.active{
  display: block;
}

div.card{
  position: relative;

  display: block;
  
  width: 100%;

  margin: 4rem auto 0 auto;
  padding: 0;
}

div.card>p.cardTop, div.card>p.cardBack{
  position: absolute;
  top: 0;
  left: 0;

  width: calc(100% - 2rem * 2);

  margin: 0;
  padding: 2rem 2rem;

  background-color: #eeeed8;
  border: none;
  border-radius: 2rem;
  box-shadow:  1rem 1rem 3rem #dddddd,
               -1rem -1rem 3rem #ffffff;

  backface-visibility: hidden;

  transition: all .3s;
  transform-origin: center center;
}

div.card>p.cardTop{
  display: block;
  
  color: #222222;
  font-size: 2.25rem;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
  
  /* line-height: 10rem; */
  text-decoration: none;
  text-align: left;
  letter-spacing: 0;

  overflow: hidden;
}

div.card>p.cardBack{
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;

  
  color: #222222;
  font-size: 1.75rem;
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
  
  line-height: 2.5rem;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0;

  overflow: hidden;
}

div.card>p.cardTop{
  transform: rotateY(0);
}

div.card>p.cardBack{
  transform: rotateY(180deg);
}

div.card.active>p.cardTop{
  transform: rotateY(180deg);
}

div.card.active>p.cardBack{
  transform: rotateY(0);
}